body {
    font-family: Arial;
    background-color: #f4f4f4;
    margin: 0;
}

header {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background: #555;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

section {
    padding: 20px;
    background: white;
    margin: 15px;
}

footer {
    text-align: center;
    background: #333;
    color: white;
    padding: 10px;
}